
 .ban .swiper_outer{
	width: 371px;
	height: 750px;
	float: left;
    background: url(./images/phone.png) no-repeat center;
    -webkit-background-size: 70%;
    background-size: 70%;
}
.ban .swiper-container{
	width: 284px ;
	height: 513px;
	margin-top: 114px;
	/*border: 1px solid red;*/
}
.ban .swiper-wrapper{
	width: 284px ;
	height: 513px  ;
}
.ban .swiper-wrapper .swiper-slide{
	width: 284px;
	height: 513px  ;
	margin-right: 0px;
	 -webkit-background-size: 75%!important;
    background-size: 75%!important;
    overflow: hidden;
}
.ban .swiper-wrapper .swiper-slide:nth-child(1){
    background: url(./images/im1.jpg) no-repeat center;
}
.ban .swiper-wrapper .swiper-slide:nth-child(2){
    background: url(./images/im2.jpg) no-repeat center;
}
.ban .swiper-wrapper .swiper-slide:nth-child(3){
    background: url(./images/im3.jpg) no-repeat center;
}
.ban .swiper-wrapper .swiper-slide:nth-child(4){
    background: url(./images/im4.jpg) no-repeat center;
}
.ban .right{
	float: left;
	width: 620px;
	margin-left: 24px;
}
.ban .right h2{
	font:700 36px/44px "microsoft yahei";
    color:#ffffff;
    margin-top: 110px;
    margin-bottom: 10px;
}
.ban .right p{
	font:400 25px/28px "microsoft yahei";
    color:#ffffff;
    margin-bottom: 16px;
}
.ban .right .ban_code{
    width: 590px;
    height: 150px;
    padding-top: 27px;
    box-sizing:border-box;
	background: url(./images/code_bg1.png) no-repeat center;
	-webkit-background-size: 80%;
	background-size: 80%;
}
.ban .right .ban_code img{
	width: 100px;
	height: 100px;
	display: block;
	margin-left: 122px;
}
.ban .ban_ul{
  margin-top: -5px;
}
.ban .ban_ul li{
	float: left;
	width: 25%;
	height: 243px;
	text-align: center;
	padding-top: 52px;
	margin-left: -12px;
	background: url(./images/item1.png) no-repeat center;
	-webkit-background-size: 80%;
	background-size: 80%;
	box-sizing:border-box;
}
.ban .ban_ul li:nth-child(1){
	margin-left: 0;
}
.ban .ban_ul li:nth-child(2){
	background: url(./images/item2.png) no-repeat center;
	-webkit-background-size: 80%;
	background-size: 80%;

}
.ban .ban_ul li:nth-child(3){
	width: 171px;
	height: 245px;
	background: url(./images/item3.png) no-repeat center;
	-webkit-background-size:74%;
	background-size:74%;

}
.ban .ban_ul li:nth-child(4){
	width: 171px;
	height: 245px;
	background: url(./images/item5.png) no-repeat center;
	-webkit-background-size:74%;
	background-size:74%;

}
.ban .ban_ul li h4{
	font:700 18px/18px "microsoft yahei";
    color:#9076ff;
    margin-bottom: 6px;
}
.ban .ban_ul li p.item_p{
	font:700 12px/16px "microsoft yahei";
    color:#666666;
}
